* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei, sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
li {
    list-style-type: none;
}
#header {
    height: 80px;
    background: black;
    margin-bottom: 100px;
}
#content {
    text-align: center;
}