@charset "utf-8";



/*菜单弹出层*/
#mcover{ position: fixed;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);	display:none;z-index:998;}
#Popup { position: fixed;padding: 0;outline: 0;display:none;top:30px;left:30px;right:30px;bottom:30px; background-color:#FFF;z-index:999;overflow-y: auto;border-radius: 6px;}
.imgPopup{ padding: 0px 10px 10px 10px;}
.imgPopup img{ width:100%; border-radius: 6px;background:url(../images/loading.gif) no-repeat 50% 50% #f5f5f5;background-size:50px 50px;}
.imgPopup h3{ font-size:16px !important; font-weight: bold;  margin:0px 0; color:#333; text-align:center; line-height:40px; height:40px;}
#mcover .close{    background: url(../images/close.png) no-repeat scroll 0 0 transparent;background-size: 34px 34px;    display: inline-block;    height: 32px;    position: absolute;    right: 20px;    text-indent: -9999px;    top: 20px;    width: 32px;cursor:pointer;z-index:999;}

.imgPopup p{font-size:14px;line-height:24px;}
.imgPopup p b{ width:60px; float:left; text-align:center; color:#333;}
.imgPopup p.price{color:#d00;}
.imgPopup .jianjie{font-size:14px;line-height:24px;margin:5px 0;padding-top:5px;border-top:1px solid #cccccc;}

.textPopup{z-index:9999;left:50%;top:50%;padding: 25px; position: fixed;width: 205px; margin-left:-125px; margin-top:-60px;background-color: rgba(0, 0, 0, 0.7);box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);border-radius: 6px;}
.textPopup .two{    background-color: #5E5E5E;    border-radius: 3px 3px 3px 3px;    color: #FFFFFF;    display: inline-block;    float: left;    font-size: 16px;    height: 37px;    line-height: 37px;    text-align: center;    text-decoration: none;width: 97px;}
.textPopup .ok{    background-color: #DA0000 !important;}
.textPopup .two:nth-of-type(2) {    float: right;}
.textPopup h2 {    text-align: center;    color: #FFFFFF;    font-size: 15px;    line-height: 23px;    padding-bottom: 17px;}
.textPopup .x {    background: url(../images/close.png) no-repeat scroll 0 0 transparent;background-size: 27px 27px;    display: inline-block;    height: 27px;    position: absolute;    right: -11px;    text-indent: -9999px;    top: -9px;    width: 27px;cursor:pointer;}
/*window*/
.window {width:240px;position:absolute;display:none;margin:0px auto 0 -122px;padding:2px;bottom:60px;left:50%;border-radius:0.6em;-webkit-border-radius:0.6em;-moz-border-radius:0.6em;background-color: #f1f1f1;-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);font:14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;z-index:10;}
.window .wtitle {background-color: #585858;line-height: 26px;padding: 5px 5px 5px 10px;color:#ffffff;font-size:16px;border-radius:0.5em 0.5em 0 0;-webkit-border-radius:0.5em 0.5em 0 0;-moz-border-radius:0.5em 0.5em 0 0;}
.window .content {/*min-height:100px;*/overflow:auto;padding:10px;color: #222222;text-shadow: 0 1px 0 #FFFFFF;}
.window #txt {min-height:30px;font-size:14px;line-height:20px;}
.window .content p {margin:10px 0 0 0;}
.window .wtitle .close {float:right; background: url(../images/close.png) no-repeat scroll 0 0 transparent;background-size: 34px 34px; width:34px;height:34px;display:block;}
#overlay {position:absolute;top:0;left:0;width:100%;height:100%;background:#000000;opacity:0.5;filter:alpha(opacity=0);display:none;z-index: 9;}


/*list*/
.ccbg{ background-color:#FFF;border-radius:5px;box-shadow: 0 1px 3px rgba(0,0,0, 0.5); overflow:hidden;}
.ccbg dd:last-child{ border-bottom:0;}
.ccbg2{ background-color:#FFF;border-radius:5px;box-shadow: 0 1px 3px rgba(0,0,0, 0.5); overflow:hidden;}
.red{ color:#F30}
#ullist dt {height: 40px;padding: 0 10px;color: #FFFFFF;font-size:18px;line-height: 40px;text-shadow:0 1px 3px rgba(0,0,0,0.5)}
.list {line-height: 38px;}
.list dt {height: 40px;padding: 0 10px;color: #FFFFFF;line-height: 40px;text-shadow:0 1px 3px rgba(0,0,0,0.5);font-size:18px;}
.list dd {position: relative;padding: 0 45px;border-bottom: 1px solid #DBDBDB;}
.listimg dd {padding: 0 120px 0 0;}
.list dd .tupian{padding:5px 3px 5px 75px;position: relative;min-height:60px;line-height:22px;z-index: 1;}
.list dd .tupian img{border-radius: 3px 3px 3px 3px;cursor: pointer;height: 60px;width: 60px;vertical-align: middle;position: absolute;top:5px;left:5px;}
.list .dish2 {font-size: 16px;}
.list .price2 {color: #D00A0A;}
.list p{font-size:14px;}
.reduce { position:absolute;top: 50%;right: 8px;bottom:auto;width: 150px;height: 40px; margin-top:-15px;}
.c_order_list .reduce {right:3px;margin-top:-16px;}

.contact-info {background-color:#fff;text-align: left;font-size: 16px;line-height: 28px;border-radius: 5px;box-shadow: 0 1px 3px rgba(0,0,0, 0.5);display: block;margin: 0 0px 11px 0px;}
.contact-info li {border: solid #C6C6C6;border-width: 1px 0 0 0;padding: 3px 10px 3px 10px;font-size: 14px;line-height:22px;}
label.ui-input-text {font-size: 16px;line-height: 1.4;display: block;font-weight: 400;margin: 0 0 .3em;}
div.ui-input-text {margin: .5em 0;background-image: none;position: relative;padding: 0 .4em;box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);background-clip: padding-box;border-radius: .6em;border: 1px solid #aaaaaa;color: #333333;}
input.ui-input-text {width: 100%;border: 0;width: 100%;padding: .4em 0;margin: 0;display: block;background: transparent none;outline: 0!important;min-height: 1.4em;line-height: 1.4em;font-size: 16px;}
textarea.ui-input-text {height: 70px;padding: .2em 0;box-sizing: border-box;background-image: none;line-height: 1.4em;font-size: 16px;display: block;width: 100%;outline: 0;background-clip: padding-box;color: #333333;text-shadow: 0 1px 0 #ffffff;background: transparent none;}
.ui-btn-hidden {position: absolute;top: 0;left: 0;width: 100%;height: 100%;-webkit-appearance: none;cursor: pointer;background: #fff;background: rgba(255,255,255,0);filter: Alpha(Opacity=0);opacity: .1;font-size: 1px;border: 0;text-indent: -9999px;z-index:2;}
.ui-btn {display: block;text-align: center;cursor: pointer;position: relative;margin: .5em 0;padding: 0;font-weight: normal;box-shadow: 0 1px 3px rgba(0,0,0,.2);background-clip: padding-box;border-radius: 0.6em;text-decoration: none;border: 1px solid #cccccc;background: #eeeeee;color: #2f3e46;text-shadow: 0 1px 0 #ffffff;background: -webkit-gradient(linear,left top,left bottom,from( #ffffff ),to( #f1f1f1 ));}
.ui-btn-inner {font-size: 12.5px;padding: .55em 11px .5em;min-width: .75em;display: block;position: relative;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;zoom: 1;}
.ui-btn-text {position: relative;z-index: 1;width: 100%;}
.selectstyle {-webkit-appearance: button;-webkit-user-select: none;box-sizing: border-box;-webkit-align-items: center;-webkit-rtl-ordering: logical;width:100%;background-image: none;display: block;line-height: 22px;border: 1px solid #aaaaaa;padding: 5px;border-radius: .6em;font-size:16px;position: relative;margin: 5px 0;box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);}


/*step2*/.order {padding: 0 8px 30px 8px;}
.orderlist ul {margin-top:15px;}
.orderlist li {position: relative;padding: 5px 15px 5px 10px;border-bottom: 1px solid #DBDBDB;font-size:16px;line-height: 30px;}
.orderlist .dish {display: block;}
.orderlist .price {color: #D00A0A;font-size: 16px;}
.orderchange {position: absolute;right: 0;bottom: 0;width: 103px;}
.orderchange .count {display: inline-block;width: 28px;height: 28px;border-radius: 4px;background: #697077;line-height: 28px;text-align: center;color: #FFFFFF;text-shadow: 0 1px 2px rgba(0,0,0,0.2);box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset;font-size:18px;}
.orderchange .increase, .orderchange .reduce {display: inline-block;width: 35px;height: 38px;vertical-align: -2px;}
.orderchange .ico_increase, .orderchange .ico_reduce {position: relative;display: block;width: 25px;height: 25px;margin: 6px 0 0 5px;background: #D00A0A;border-radius: 50%;text-indent: -9999px;}
.orderchange .ico_reduce {background: #D00A0A;}
.orderchange .ico_increase:after, .orderchange .ico_reduce:after {position: absolute;top: 11px;left: 5px;content: "";display: block;width: 15px;height: 3px;background: #FFFFFF;}
.orderchange .ico_increase:before {position: absolute;top: 5px;left: 11px;content: "";display: block;width: 3px;height: 15px;background: #FFFFFF;}
.info {margin: 20px 0 0 0;padding: 10px 15px 20px 15px;background-color: #FFF;border-radius: 5px;box-shadow: 0 1px 3px rgba(0,0,0, 0.5);}
.info h2{font-size:18px;padding:10px 10px 10px 15px;color:#333;margin: -10px -15px 10px -15px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#cccccc));border-radius: 5px 5px 0 0;}
.info textarea, .info input {width: 100%;color: #333333;border-bottom: 1px solid #DBDBDB;font-size:16px;line-height:36px;/*width: 100%;margin: .5em 0;background-image: none;padding: 5px;box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);background-clip: padding-box;border-radius: 5px;border: 1px solid rgba(0,0,0,0.22);color: #333333;font-size:16px;*/}
.info textarea {height: 80px;resize: none;color: #464646;border-bottom: 1px solid #DBDBDB;font-size:16px;line-height:22px;padding:5px 0}
.info input:nth-last-child(2) {border-bottom: none;border-top-left-radius: 10px;border-top-right-radius: 10px;box-shadow: inset 0px 1px 2px rgba(90, 70, 47, 0.3);}
.info input:nth-last-child(1) {border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;border-top-color: #745A3B;box-shadow: inset 0px -1px 2px rgba(90, 70, 47, 0.3);}
.confirm {height: 32px;padding: 7px 0;z-index: 100;position: fixed;bottom: 0;left: 0;width: 100%;background: rgba(18, 74, 65, 0.8);box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);}
.header .back, .confirm .back {float: left;display: block;margin-left: 15px;padding: 0 10px;line-height: 32px;color: #fff;}
/* CSS Document */

