.divmenu{
	
	width:33.33%;
	float: left;
	background-color: #98733F;
	color:#E3D98E;
	
}
.menubtn img{
	
	width: 70px;
	float: left;
	
}
.menubtn a{
	font-size: 20px;
	height: 40px;
	float: right;
}
.menubtn{
	width:100%
	margin-top: 0px;
	display: block;
	
}
.bottomdiv{
	width:100%;
	float: left;
	position: fixed;
	bottom:0px;
	text-align: center;
	height: 60px;
	padding-top: -60px;
	
}
.bobtn{
	width:33%;
	float: left;
	border-right-style: solid;
	border-right-color: white;
	border-right-width: 1px;
	background-color: #98733F;
	color: white;
}
body{
	margin-left: 0px;
	margin-top: 0px;
	background-color: #E3D98E;
	
}
.main{
	background-color:#E3D98E;
	height: 100%;
	width:100%;
}
li{
      list-style: none;
      font-size: 20px;
      margin-top:10px;
}
a:LINK,a:VISITED{
       color:white;
}

a{
	text-decoration: none;
}

h3{
	text-align: center;
	font-size: 30px;
}
.null{
	height: 60px;
	display: block;
}